<div class="sidenav-container">
    <div class="logo-container">
        <span class="logo">
            SILUS
        </span>
    </div>

    <ul class="sidenav-nav-menu">
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link"
            [routerLink] = "['dashboard']">
                <i class="sidenav-link-icon"></i>
                <span class="sidenav-link-text">Dashboard</span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link"
            [routerLink] = "['products']">
                <i class="sidenav-link-icon"></i>
                <span class="sidenav-link-text">Products</span>
            </a>
        </li>

    </ul>
</div>